<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="../static/grail.css">

    <title>Grail</title>
</head>

<body>
    <div class="pure-g" style="height: 100%">
        <div class="pure-u-1" style="background-color: red">
            <p>header</p>
        </div>
        <div class="pure-u-1-5 middle-stuff" style="background-color: blue">
            <p>menu</p>
        </div>
        <div class="pure-u-3-5 middle-stuff" style="background-color: yellow">
            <p>content</p>
        </div>
        <div class="pure-u-1-5 middle-stuff" style="background-color: green">
            <div style="background-color: white;">
                <h1>hot milfs in your area</h1>
                <h3>click here -></h3>
                <h5>https://www.pissass.com/</h5>
            </div>
        </div>
        <div class="pure-u-1" style="background-color: purple">
            <p>footer</p>
        </div>
    </div>
</body>

</html>